
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit User</li>
  </ol>
</nav>

{{!-- Dismissing --}}
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if message}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<h2>Edit User</h2>

{{!-- Input Form with partial--}}
{{#each rows}}
<form class="row g-3 needs-validation" method="POST" action="/edit-user/{{this.id}}">
  {{> user-form}}
</form>
{{/each}}